.Cards__Portfolio__component {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  padding: 4rem 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  .Card {
    max-width: 90%;
    position: relative;
    cursor: pointer;
    flex: 0 0 80%;
    margin: 0.5rem 10%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    .Card__content {
      min-height: 4em;
      margin-left: 0.5rem;
      overflow: hidden;
      height: 100%;
      position: relative;
      z-index: 0;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (min-width: 992px) {
        min-height: 4em;
      }
      & .akaPseudo {
        z-index: -1;
        position: absolute;
        content: "";
        transition: transform 0.5s;
      }
      & .akaBefore {
        background: rgba(240, 59, 41, 0.75);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 8px;
        height: 90%;
        right: 0.5em; bottom: 0;
        transform-origin: bottom;
      }
      & .akaAfter {
        background: linear-gradient(270deg, rgba(240, 59, 41, 0.75) 0%, rgba(240, 59, 41, 0) 100%);
        height: 8px;
        width: 60%;
        bottom: 0.5em; right: 0;
        transform-origin: right;
      }
    }
    &::before {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      content: "";
      opacity: 0;
      transition: opacity 0.25s;
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover .Card__content .akaBefore { transform: scaleY(0) }
    &:hover .Card__content .akaAfter { transform: scaleX(0) }
    &:hover .Card__content .Card-title {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.1)
    }
    @media (min-width: 992px) {
      margin: 2rem 5%;
      flex: 0 0 40%;
      &::after {
        background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=ant_bg1-min.jpg") repeat 80% center fixed;
        background-size: cover;
      }
      .Card__Oferta__content {
        &::after {
          right: 0;
        }
      }
    }
  }
  .Card__Big {
    background-color: rgba(0,0,0,0.3);
    filter: brightness(0.9);
    z-index: 101;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-height: 32rem;
    width: 100%;
    margin: 2rem 5%;
    flex: 0 0 90%;
    & .Card__Big__content {
      overflow: hidden;
      position: relative;
      flex-direction: column;
      align-items: center;
      max-height: 90%;
      & .Card__Big-title {
        max-height: 20%;
        margin: 0.5em 0 0 1em;
      }
      .Card__Big-ul {
        margin-block-start: 0.25rem;
        margin-block-end: 0em;
        padding-inline-start: 2rem;
        font-size: 1.25rem;
        color: #ECECDA;
        @media (min-width: 992px) {
          width: 75%;
        }
      }
    }
    @media (min-width: 992px) {
      margin: 2rem 5%;
      min-height: 10em;
      flex: 0 0 90%;
      .Card__Oferta__content {
        &::after {
          right: 0;
        }
      }
    }
  }
}
.repeat_bg {
  &::before {
    z-index: -1;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(17, 117, 240, 0.75);
    content: "";
  }
  &::after {
    mix-blend-mode: luminosity;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    z-index: -1;
    background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=ant_bg1-min.jpg") repeat 80% center fixed;
    background-size: cover;
    opacity: 0.6;
    content: "";
  }
}
