.Cards__Realizacje__component {
  .Cards__Realizacje {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
    .Placeholder {
        width: 100%;
        height: auto;
        padding-top: calc(256px+10em);
        position: absolute;
    }
    .Carousel {
        padding: 5rem 5rem;
        display: flex;
        flex-direction: row;
        .Card {
            max-height: 256px;
            position: relative;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            width: 16rem;
            background-color: rgba(0,0,0,0.4);
            display: flex;
            flex-direction: column;
            align-items: center;
            & + .Card {
                margin-left: 40px;
            }
            .image {
                width: 100%;
                height: 5em;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: auto;
                    width: 100%;
                    max-width: 100%;
                }
            }
            span, a {
                max-width: 16em;
                margin: 1rem 1.25rem;
                color: #EAEACA;
                display: block;
                text-align: center;
            }
            .abbr {
                height: 100%;
            }
            .test {
                background-color: rgba(240, 59, 41, 0.75);
                text-align: center;
                display: absolute;
                top: 90%;
                right: 10%;
                left: 10%;
            }
        }
    }
    .Font__Card {
        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: lighter;
        color: white;
        font-size: 1rem;
        text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
      }
}
