.HomeNew_v2__component {
    .Header__container {
        z-index: 102;
        position: relative;
        overflow-x: hidden;
        background: #118DF0;
        .Header {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            margin: 0 auto;
            height: 90vh;
            font-family: "Oswald", sans-serif;
            font-style: normal;
            color: white;
            &::before {
                opacity: 0;
                transition: opacity 0.5s;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0; left: 0;
                filter: brightness(75%);
                background-color: rgba(14, 47, 86, 1);
                will-change: transform;
                mix-blend-mode: luminosity;
                content: "";
            }
            &.lazy_load_image::before {
                background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=ant_bg2-min.jpg") no-repeat 65% center;
                background-size: cover;
                opacity: 0.5;    
            }
            &::after {
                background: linear-gradient(360deg, #0E2F56 28.37%, rgba(14, 47, 86, 0) 100%);;
                position: absolute;
                top: 70%; right: 0; bottom: 0; left: 0;
                content: "";
              }
            .Header-Stripes__container {
                position: absolute;
                top: 0; right: 60%; bottom: 40%; left: 0;
                min-width: 500px;
                display: flex;
                flex-direction: column-reverse;
                font-size: 2rem;
                .Stripe__1 {
                    transform: translateY(20px);
                    width: 75%;
                    height: 120px;
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: #0E2F56;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    .Logo {
                        max-width: 100%;
                        align-self: flex-end;
                        max-height: 50%;
                        margin-right: 1rem;
                    }
                }
                .Stripe__2 {
                    transform: translateY(10px);
                    width: 87.5%;
                    min-height: 120px;
                    background-color: black;
                    display: flex;
                    justify-content: flex-end;
                    background: rgba(14, 47, 86, 0.75);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
                    .Stripe__Text {
                        margin-left: 10px;
                        color: #ECECDA;
                        font-weight: 300;
                        align-self: center;
                        align-self: center;
                        max-width: 25ch;
                    }
                }
                .Stripe__3 {
                    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
                    width: 100%;
                    min-height: 120px;
                    background-color: black;
                    display: flex;
                    justify-content: flex-end;
                    background: rgba(17, 117, 240, 0.75);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    .Stripe__SubText {
                        margin: 0 1em;
                        color: #ECECDA;
                        font-weight: 300;
                        align-self: center;
                        max-width: 26ch;
                    }
                }
            }
            @media (max-width: 576px) { 
                .Header-Stripes__container {
                    min-width: 0;
                    top: 0; right: 0; bottom: 50%; left: 0;
                    .Stripe__1 {
                        visibility: hidden;
                    }
                    .Stripe__2 {
                        max-width: 80%;
                        font-size: 24px;
                    }
                    .Stripe__3 {
                        @media (max-width: 300px) {
                            padding: 1em 0;
                        }
                        justify-content: flex-start;
                        align-self: flex-end;
                        font-size: 24px;
                        max-width: 80%;
                    }
                }
                &.lazy_load_image::before {
                    background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=ant_bg2-min.jpg") no-repeat 75% center;
                    background-size: cover;
                    opacity: 0.5;    
                }

            }
        }
    }
    .SecondaryNav__container {
        z-index: 102;
        position: sticky;
        top: 0;
        padding-top: 70px;
        background: #0E2F56;
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow-y: visible;
        
        &>div {
            max-width: 100%;
            display: flex;
        }
        .SecondaryNav__item {
            font-family: "Oswald", sans-serif;
            font-style: normal;
            color: white;
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
            padding-top: 1em;
            letter-spacing: 1px;
            background: #0E2F56;
            border-radius: 10px;
            width: #{"max(90px, 15vw)"};
            max-width: 30vw;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: transform 0.2s ease-in-out;
            text-decoration: none;
            &.active {
                transform: translateY(8px);
                box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
            }
            svg {
                max-height: 50px;
                max-width: 50px;
                &>path {
                    transition: fill 0.2s;
                }
            }
            .SecondaryNav__Text {
                padding-bottom: 0.5em;
            }
        }
      }
    .SecondaryNav__offset {
        height: 170px;
    }
    .Content__container {
        max-width: 100%;
        position: relative;
        
        background: #118DF0;
        &::before {
            mix-blend-mode: luminosity;
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            height: 100vh;
            transform: translate3d(0, 0, 0);
            background-size: cover;
            opacity: 0;
            transition: opacity 2s 0.5s;
            content: "";
          }
        &.lazy_load_image::before {
            background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=ant_bg1-min.jpg") no-repeat 80% center;
            opacity: 0.6
        }
        .Content__box {
            display: flex;
            flex-direction: column;
            position: relative;
            &.first {
                z-index: 2;
                padding-top: 200px;
            }
        }
        .BigCard {
            position: fixed;
            font-size: 0.5em;
            top: 30%;
            left: 5%;
            width: 90%;
            height: 60%;
            z-index: 101;
            background: #0E2F56;
            &::before {
                z-index: -1;
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                content: "";
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0; right: 0; left: 0;
        height: 100vh;
        z-index: 100;
        background-color: rgba(0,0,0,0.2);
      }
}
.test {
    position: absolute;
    top: 0; right: 0; left: 0;
    bottom: 0;
}
.darker {
    justify-content: center;
}
