.Login__component {
  z-index: 2;
	display: flex;
	flex-direction: column;
  position: relative;
  overflow: hidden;
	.Login__container {
		margin-top: 8vh;
		background-color: rgba(0, 0, 0, 0.4);
		.Login__content {
			display: flex;
			flex-direction: column;
			font-family: "Oswald", sans-serif;
			font-style: normal;
			font-weight: normal;
			color: white;
			font-size: #{"clamp(12px, 10vw, 1.5rem)"};
			text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
			text-decoration: none;
		}
	}
}