.navigtion {
    display: flex;
}
.navLink {
    position: relative
}
.underline {
    z-index: -1;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: transparent;
    content: "";
}
.Language__switch {
    text-align: center;
    position: relative;
    margin: 100px 100px;
    border-radius: 10px;
    width: 12em;
    cursor: pointer;
    background-color: aqua;
    .Language__ball {
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 4em;
        height: 4em;
        background-color: white;
        border-radius: 100%;

    }
}
