a:-webkit-any-link {
  color: black;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{

  }
}
.navbar{
  box-shadow: 0 2px 1em 4px rgba(10, 16, 46, 0.2);
  position: sticky;
  display: flex;
  flex-direction:row;
  text-align: center;
  top: 0;
  width:80%;
  padding: 0 10%;
  background-color: #0A102D;
  transition: background-color 0.3s;
  & .navbar__left{
    display: flex;
    width:20%;
    align-items: center;
    justify-content: left;
  }
  & .navbar__right{
    display: flex;
    flex-direction:row-reverse;
    text-align: center;
    width:80%;
    color: white;
    & > a {
      text-decoration: none;
      position: relative;
      transform-origin: center;
      transition: color 0.3s ease-in-out, filter 1s ease-in-out;
      text-align: center;
      overflow: hidden;
      height:8vh;
      color: white;
      & > div {
        padding: 0 2vw;
        height: 100%;
        font-weight: 900;
        font-size: 1.5em;
        &::before {
          position: absolute;
          top: 90%; right: -2px; bottom: 0; left: -2px;
          transform: scaleX(0);
          content:"";
          z-index: -1;
          background-color: #B7162B;
        }
        &.focused {
          filter: brightness(120%);
        }
        &:hover {
          color: #B7162B;
        }
        &:hover::before {
          transform: scaleX(1);
          background-color: #B7162B;
        }
        &.far::before {
          opacity: 0;
        }
        &.mouseToLeft::before {
          transition: transform 0.25s 0.05s linear;
          transform-origin: right !important;
        }
        &.mouseToRight::before {
          transition: transform 0.25s 0.05s linear;
          transform-origin: left !important;
        }
      }

    }
  }
}
.item:hover{
  cursor: pointer;
}
.transparent {
  background-color: transparent !important;
  & * {
    color: black !important;
  }
}
