@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.Container__NavbarBottom {
  z-index: 2;
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 12.5%;
  margin-left: 12.5%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    background: #073860;
    max-width: 100%;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: #04B1D9;
    border-radius: 20px;

  }
  &  .Container__NavbarBottom__left {
    display: flex;
    width: 100%;
    align-items: center;
    & .cogConteiner {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      & .cogIcon {
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          transition: transform 0.4s;
          max-width: 60%;
        }
        &::before,
        &::after {
          transition: opacity 0.4s ease-in-out;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          content: "";
          z-index: -1;
        }
        &::before {
          background: linear-gradient(135deg, #1175F0 0%, #04B1D9 100%);
        }
        &::after {
          background: linear-gradient(135deg, #F03B29 25%, #0E2F56 100%);
          opacity: 0;
        }
      }
      & .cogMenu {
        transition: transform, opacity 0.4s;
        position: absolute;
        transform-origin: left;
        top: 0; right: -200%; bottom: 0; left: 0;
        background: linear-gradient(135deg, rgba(17, 117, 240, 0.75) 0%, rgba(4, 177, 217, 0.75) 100%);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        z-index: -2;
        transform: scaleX(0);
        opacity: 0;
      }
      &.cogActive {
        & .cogIcon {
          /* transform: translateX(-100%) */
        }
        & .cogIcon img {
          transform: rotate(180deg)
        }
        & .cogIcon::before {
          opacity: 0;
        }
        & .cogIcon::after {
          opacity: 1;
        }
        & .cogMenu {
          transform: scaleX(1);
          opacity: 1;
          display: block;
        }
      }


    }
  }
  & .Container__NavbarBottom__right{
  }
  & ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & a {
      padding: 0.5rem 0rem 0.5em 1.5em;
      text-decoration: none;
      color: #ECECDA;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
