@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.Container__Content__header {
  position: relative;
  max-width: 100%;
  background: linear-gradient(180deg, #0E2F56 0%, #118DF0 81.74%);
}
.Content__header {
  height: 88vh;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  align-content: flex-end;
  margin: 0 auto;
  overflow-x: hidden;
  &::before {
    background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=sht3.png") no-repeat center center fixed;
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    opacity: 0.6;
    background-size: cover;
    mix-blend-mode: luminosity;
    content: "";
  }
  &::after {
    background: linear-gradient(360deg, #0E2F56 28.37%, rgba(14, 47, 86, 0) 100%);;
    position: absolute;
    top: 70%; right: 0; bottom: 0; left: 0;
    content: "";
  }
  .CallToAction__container {
    position: absolute;
    top: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    & .CallToAction {
      display: block;
      position: relative;
      letter-spacing: 1px;
      color: white;
      height: 30px;
      padding: 30px 210px;
      z-index: 1;
      &::before {
        z-index: -1;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(180deg, rgba(68, 117, 177, 0.8) 0%, rgba(4, 177, 217, 0.8) 100%);
        box-shadow: 0px 8px 15px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        content: "";
      
      }
      &:hover {
        cursor: pointer;
        height: 50px;
      }
    }
  }
  .Bottom__buttons {
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    .SeeMore {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
      background: linear-gradient(135deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
    .Container__Options {
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 8vw;

      .Options {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.5em;
        z-index: 1;
        height: 3.5em;
        position: relative;
        img {
          transition: transform 0.4s;
          max-width: 75%;
        }
        &::before {
          transition: opacity 0.3s;
          z-index: -1;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          border-radius: 50%;
          background: linear-gradient(135deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
          content: "";
          opacity: 1
        }
        &::after {
          transition: opacity 0.3s;
          z-index: -1;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          background: linear-gradient(135deg, #F03B29 0%, #0E2F56 100%);
          box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          content: "";
          opacity: 0;
        }
        &.active {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
          & img {
            transform: rotate(180deg)
          }
        }
      }
    }
  }
}
.Black__container {
  background-color: rgba(14, 47, 86, 1);
  display: flex;
  justify-content: center;
  max-height: 100px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  & .Icon__container {
    transition: height 0.2s ease-in-out;
    background: rgba(14, 47, 86, 1);
    flex: 0 0 200px; // flex: [flex-grow flex-shrink flex-basis(default width)]
    height: 100px;
  }
  & .Icon__container:hover {
    height: 150px;
    overflow-x: hidden;
    box-shadow: 0px 8px 4px -2px rgba(0, 0, 0, 0.25);
  }
  .Icon__container + .Icon__container {
    //margin-left: 10px;
  }
}
  /*
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  overflow: hidden;
  background-color: yellow;
  background: rgba(14, 47, 86, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & img {
    max-width: 80vw;
  }
}
.logo {
  margin: 0 auto;
}
.Container__CallToAction {
  display: flex;
  justify-content: center;
  grid-area: CallToAction;
  align-items: center;

}
.CallToAction {
  margin: auto 0;
  width: clamp(100px, 75%, 400px);
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: auto 0;
  z-index:2;
  color: #ECECDA;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em 0;
  background: linear-gradient(180deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
  box-shadow: 0px 8px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  & img {
    padding-left: 1em;
  }
}
.navbar {
  position: relative;
  grid-area: navbar;
  padding-bottom: 1em;
  z-index: 1;
}
@media (max-width: 1024px) {
  .Content__header {
    grid-template-areas:
      ". . . . . . . . ."
      "header header header header header header header header header"
      "header header header header header header header header header"

      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . CallToAction CallToAction CallToAction CallToAction CallToAction . ."
      "navbar navbar navbar navbar navbar navbar navbar navbar navbar";
    }
}
@media (max-width: 924px) {

}
*/
