@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.Container__Content__header {
  position: relative;
  max-width: 100%;
  //background: linear-gradient(180deg, #0E2F56 0%, #118DF0 81.74%);
  background: #118DF0;
  overflow-x: hidden;
}
.Content__header {
  z-index: -2;
  height: 88vh;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  align-content: flex-end;
  margin: 0 auto;
  &::before {
    background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=silhouette-telecommunication-2.jpg") no-repeat 58% center fixed;
    opacity: 0.8;
    @media (min-width: 768px) {
      background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=sht3.png") no-repeat center center fixed;
      opacity: 0.6;
      background-size: cover;
    }
    
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    
    background-size: cover;
    mix-blend-mode: luminosity;
    content: "";
  }
  &::after {
    background: linear-gradient(360deg, #0E2F56 28.37%, rgba(14, 47, 86, 0) 100%);;
    position: absolute;
    top: 70%; right: 0; bottom: 0; left: 0;
    content: "";
  }
  .CallToAction__container {
    z-index: 1;
    position: absolute;
    top: 75%;
    width: 100%;
    display: flex;
    justify-content: center;    
    & .CallToAction {

      text-align: center;
      transition: height 0.2s ease-in-out;
      display: block;
      position: relative;
      letter-spacing: 1px;
      color: white;
      /*  
          SCSS nie kompiluje niektórych funkcji CSSa. To jest najprostrze obejście jakie znalazłem.
          clamp ustawia wartość minimalną, wartość pośrednią i wartość maksymalną. To jak
          min(max(V, V2), V3);
      */
      padding-top: #{"clamp(1em, 3vw, 1.5em)"};
      padding-bottom: #{"clamp(1em, 3vw, 1.5em)"};
      padding-right:#{"clamp(3em, 8vw, 12em)"};
      padding-left:#{"clamp(3em, 8vw, 12em)"};
      z-index: 1;
      &::before {
        z-index: -1;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(180deg, rgba(68, 117, 177, 0.8) 0%, rgba(4, 177, 217, 0.8) 100%);
        box-shadow: 0px 8px 15px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        content: "";
      }
      &:hover {
        cursor: pointer;
        height: 50px;
      }
    }
  }
  .Bottom__buttons {
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    .SeeMore {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
      background: linear-gradient(135deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
    .Container__Options {
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 8vw;

      .Options {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.5em;
        z-index: 1;
        height: 3.5em;
        position: relative;
        img {
          transition: transform 0.4s;
          max-width: 75%;
        }
        &::before {
          transition: opacity 0.3s;
          z-index: -1;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          border-radius: 50%;
          background: linear-gradient(135deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
          content: "";
          opacity: 1
        }
        &::after {
          transition: opacity 0.3s;
          z-index: -1;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          background: linear-gradient(135deg, #F03B29 0%, #0E2F56 100%);
          box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          content: "";
          opacity: 0;
        }
        &.active {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
          & img {
            transform: rotate(180deg)
          }
        }
      }
    }
  }
}
.Icon-Menu__container {
  position: relative;
  z-index: 501;
  background-color: rgba(14, 47, 86, 1);
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  & .Icon__container {
    cursor: pointer;
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    background: rgba(14, 47, 86, 1);
    flex: 1 1 0; // flex: [flex-grow flex-shrink flex-basis(default width)]
    flex-wrap: wrap;
    max-width: #{"max(90px, 20vw)"};
    border-radius: 10px;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    /* Animacje */
    & #path__1 {
      transition: opacity 0.2s;
      opacity: 1
    }
    & #path__2,
    & #path__3 {
      transition: fill 0.2s;
      fill: #ffffff
    }
    & #path__hand-1 {
      transition: opacity 0.2s;
      opacity: 1;
    }
    & #path__hand-2 {
      transition: opacity 0.2s;
      opacity: 0
    }
    & #path__pres-2 {
      transition: opacity 0.2s;
      opacity: 0;
    }
    & #path__pres-3 {
      transition: opacity 0.2s;
      opacity: 0;
    }
  }
  & .Icon__container.enter,
  & .Icon__container.enter-done {
    transform: translateY(20px);
    box-shadow: 0px 8px 4px -2px rgba(0, 0, 0, 0.25);
    #path__1 {
      opacity: 0
    }
    #path__2,
    #path__3 {
      fill: #F03B29
    }
    & #path__hand-2 {
      opacity: 1
    }
    & #path__pres-2 {
      opacity: 1;
    }
    & #path__pres-3 {
      opacity: 1;
    }
  }
  & .Icon__container.exit,
  & .Icon__container.exit-done {
    transform: translateY(0);
    #path__1,
    #path__2,
    #path__3 {
      fill: #ffffff
    }
    & #path__hand-1 {
      opacity: 1
    }
    & #path__pres-2 {
      opacity: 0;
    }
    & #path__pres-3 {
      opacity: 0;
    }
    /* /Animacje/ */
  }
  .Icon__container + .Icon__container {
    //margin-left: 10px;
  }
}
.CardList__container {
  height: 10em;
  background-color: black;
}
.test1,
.test2,
.test3 {
  position: relative;
  z-index: 0;
  transition: opacity 0.5s, transform 0.5s ease-out;
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  &.enter {
    visibility:visible;
    display: flex;
    opacity: 0;
  }
  &.enter-active {
    visibility:visible;
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  &.enter-done {
    visibility:visible;
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  &.exit-active {
    display: flex;
    opacity: 0;
  }
  &.exit-done {

    display: none;
    opacity: 0;
    
  }
}
.test3 {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: #{"clamp(300px, 60%, 600px)"};
  margin: 0em auto;
  background-color: black;
}
.Pres-Iframe {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: none;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0em auto;
}
@media (min-width: 768px) {
  .test3 {
    width: 80%;
  }
}
.TransitionBox__container {
  min-height: 600px;
  background-color: #4893EA;
}
.TransitionBox {
  padding: 2em 0;
  background-color: #4893EA;
}
.Card_Cotnainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  .Card__Oferta {
    position: relative;
    border-radius: 10px;
    flex: 0 0 80%;
    margin: 2em 10%;
    height: 9em;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    & .Card__Oferta__content {
      margin-left: 0.5em;
      overflow: hidden;
      height: 100%;
      position: relative;
      flex-direction: column;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: bold;
      align-content: flex-end;
      color: white;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
      font-size: #{"clamp(2em, 8vw, 2em)"};
      &::before {
        z-index: -1;
        position: absolute;
        width: 20px;
        height: 200px;
        right: 0.5em; bottom: 0;
        background-color: #F03B29;
        content: "";
      }
      &::after {
        z-index: -1;
        position: absolute;
        height: 20px;
        width: 300px;
        bottom: 0.5em; right: 0;
        background-color: #F03B29;
        content: "";
      }
    }
    &::before {
      z-index: -1;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      background: rgba(17, 117, 240, 0.75);
      //background: linear-gradient(360deg, rgba(17, 117, 240, 0.5) 86.33%, rgba(4, 177, 217, 0.75) 100%);
      content: "";
    }
    &::after {
      mix-blend-mode: luminosity;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      z-index: -1;
      background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=ant_1.jpg") no-repeat 80% center fixed;
      opacity: 0.75;
      content: "";
    }
    @media (min-width: 992px) {
      margin: 2em 5%;
      height: 12em;
      flex: 0 0 40%;
      &::after {
        background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=ant_1.jpg") no-repeat 50% center fixed;
      }
      .Card__Oferta__content {
        &::after {
          right: 0;
        }
      }
    }
  }
}
  /*
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  overflow: hidden;
  background-color: yellow;
  background: rgba(14, 47, 86, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & img {
    max-width: 80vw;
  }
}
.logo {
  margin: 0 auto;
}
.Container__CallToAction {
  display: flex;
  justify-content: center;
  grid-area: CallToAction;
  align-items: center;

}
.CallToAction {
  margin: auto 0;
  width: clamp(100px, 75%, 400px);
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: auto 0;
  z-index:2;
  color: #ECECDA;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em 0;
  background: linear-gradient(180deg, rgba(17, 117, 240, 0.9) 0%, rgba(4, 177, 217, 0.9) 100%);
  box-shadow: 0px 8px 15px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  & img {
    padding-left: 1em;
  }
}
.navbar {
  position: relative;
  grid-area: navbar;
  padding-bottom: 1em;
  z-index: 1;
}
@media (max-width: 1024px) {
  .Content__header {
    grid-template-areas:
      ". . . . . . . . ."
      "header header header header header header header header header"
      "header header header header header header header header header"

      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . CallToAction CallToAction CallToAction CallToAction CallToAction . ."
      "navbar navbar navbar navbar navbar navbar navbar navbar navbar";
    }
}
@media (max-width: 924px) {

}
*/
