.Grid {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(9, auto);
  grid-template-columns: repeat(9, auto);
  gap: 20px;
  grid-template-areas:
    ". header header header header header header ."
    ". header header header header header header ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". footer footer footer footer footer footer ."
    ". navbar navbar navbar navbar navbar navbar .";
  & .header {
    grid-area: header;
    background-color: blue;
  }
  & .footer {
    grid-area: footer;
    background-color: blue;
  }
  & .navbar {
    grid-area: navbar;
    background-color: green;
  }
}
