@import url('//fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

.App {
  text-align: center;
}
* {
  box-sizing: content-box;
}
body{
  font-family: 'Roboto Slab', serif;
}
#root {
  background-color: #118DF0;
}
.loading {
  background-color: #0e2f56;
  height: 100vh;
}
.main {
  position: relative;
  height: 100%;
}
#root {
  height: 100%;
}
