.TransitionBox__container {
  min-height: 600px;
  background-color: #4893EA;
}
.TransitionBox {
  padding: 2em 0;
  background-color: #4893EA;
}
.overlay {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  content: "";
}
.Card_Cotnainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  .Card__Big {
    z-index: 2;
    position: absolute;
    top: 20%; right: 20%; left: 20%; bottom: 20%;
    overflow: hidden;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    & .Card__Oferta__content {
      margin:0 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      flex-direction: column;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: bold;
      align-content: flex-end;
      color: white;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
      font-size: #{"clamp(2em, 8vw, 2em)"};

      &::before {
        z-index: -1;
        position: absolute;
        width: 20px;
        height: 200px;
        right: 0.5em; bottom: 0;
        background-color: #F03B29;
        content: "";
      }
      &::after {
        z-index: -1;
        position: absolute;
        height: 20px;
        width: 300px;
        bottom: 0.5em; right: 0;
        background-color: #F03B29;
        content: "";
      }
    }
    &::before {
      z-index: -1;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      //background: rgba(17, 117, 240, 0.75);
      background: rgba(17, 117, 240, 1);
      //background: linear-gradient(360deg, rgba(17, 117, 240, 0.5) 86.33%, rgba(4, 177, 217, 0.75) 100%);
      content: "";
    }
    &::after {
      mix-blend-mode: luminosity;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      z-index: -1;
      background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=ant_1.jpg") no-repeat 80% center fixed;
      opacity: 0.4;
      content: "";
    }
  }
  .Card__Oferta {
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    flex: 0 0 80%;
    margin: 2em 10%;
    height: 9em;
    overflow: hidden;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    & .Card__Oferta__content {
      margin:0 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      flex-direction: column;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: bold;
      align-content: flex-end;
      color: white;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
      font-size: #{"clamp(2em, 8vw, 2em)"};

      &::before {
        z-index: -1;
        position: absolute;
        width: 20px;
        height: 200px;
        right: 0.5em; bottom: 0;
        background-color: #F03B29;
        content: "";
      }
      &::after {
        z-index: -1;
        position: absolute;
        height: 20px;
        width: 300px;
        bottom: 0.5em; right: 0;
        background-color: #F03B29;
        content: "";
      }
    }
    &::before {
      z-index: -1;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      //background: rgba(17, 117, 240, 0.75);
      background: rgba(17, 117, 240, 1);
      //background: linear-gradient(360deg, rgba(17, 117, 240, 0.5) 86.33%, rgba(4, 177, 217, 0.75) 100%);
      content: "";
    }
    &::after {
      mix-blend-mode: luminosity;
      position: absolute;
      top: 0; right: 0; left: 0; bottom: 0;
      z-index: -1;
      background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=ant_1.jpg") no-repeat 80% center fixed;
      opacity: 0.4;
      content: "";
    }
    @media (min-width: 992px) {
      margin: 2em 5%;
      height: 12em;
      flex: 0 0 40%;
      &::after {
        background: url("http://digicos.ddns.net:8001/pliki/get_file?filename=ant_1.jpg") no-repeat 50% center fixed;
      }
      .Card__Oferta__content {
        &::after {
          right: 0;
        }
      }
    }
  }
}
.test1,
.test2,
.test3 {
  position: relative;
  z-index: 0;
}