.App {
  text-align: center;
}
* {
  box-sizing: content-box;
}
body{
  font-family: 'Roboto Slab', serif;
}
#root {
  background-color: rgba(14, 47, 86, 1);
  min-height: 2000px
}
.overlay {
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0,0,0,0.2);
}