.Inwestorzy__component {
  margin: 0;
  position: relative;
  z-index: 2;
  min-height: #{"calc(100vh - 70px - 25px)"};
  margin: 0;
  background-color: #118DF0;
  overflow-x: hidden;
  .bg {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vw;
    &::before {
      z-index: -1;
      position: fixed;
      will-change: transform;
      top: 0; left: 0;
      width: 100%;
      min-height: 100%;
      content: "";
      background: url("https://digicos.ddns.net:8001/pliki/get_file?filename=old_bg-min.jpg") center center;
      background-size: cover;
      opacity: 0.5;
      mix-blend-mode: luminosity;
      filter: brightness(0.8)
    }
  }
  .Content {
    .text {
      margin-top: 0.5em; 
    }
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Oswald";
    font-style: normal;
    font-weight: lighter;
    color: #ECECDA;
    margin-bottom: 10vh;
    @media (max-width: 992px) {
      align-items: center;
      flex-direction: column;
    }
    li {
      list-style: none;
    }
    hr { 
      margin: 1em 0;
      background: linear-gradient(-90deg, rgba(4, 177, 217, 0), #04B1D9);
      height: 2px; 
      border: 0; 
    }
    .column {
      overflow-y: hidden;
      width: 100%;
      margin: 2em 0;
      padding: 2em 0;
      flex: 0 0 32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      .cell {
        width: calc(100% - 4em);
      }
    }
  }
}

.InwestorzyTable {
  display: flex;
  width: 90%;
  flex-direction: column;
  .fRow {
    flex: 0 0 4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    .fCell {
      flex: 0 0 calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &.data {
      &:nth-child(3n) {
        background-color: rgba(0, 0, 0, 0.4);
      }
      &:nth-child(3n+1) {
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:nth-child(3n+2) {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}